body {
  margin: 24px;
  background-image: url(../img/patron-fondo-vector.svg);
}

header {
  display: flex;
}

h1 {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 2em;
  font-weight: lighter;
  color: black;
  margin: 2em 2em 4em 1em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  max-width: 1400px;
  width: 100%;
  margin: auto;
  gap: 1em;
  margin-top: 2em;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  filter: grayscale(100%);
  transition: opacity 0.5s ease;
}

.gallery-item:hover img {
  filter: none;
  transform: scale(0.9);
}

.gallery-item.full-width {
  grid-column: 1 / -1;
  height: 200px;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.gallery-item:hover .overlay {
  opacity: 0.8;
  transform: scale(0.9);
}

.overlay .text {
  color: white;
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  font-weight: 100;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery-item:hover .overlay .text {
  opacity: 1;
}
