body {
  margin: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 3em;
  font-weight: lighter;
  color: black;

}

.palmera {
  margin-left: 1em;
  width: 3%;
}

.hotel-gransol {
  width: 4%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  max-width: 980px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;   
  margin-top: 2em;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.gallery-item:hover img {
  filter: none;
  cursor: pointer;
}

.gif-playa-castillo-paella {
  width: 10%;
  display: block;
  margin: 2em auto;
}
