body {
  margin: 24px;
  background-image: url(../img/patron-fondo-vector.svg);
}

header {
  display: flex;
}

h1 {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 2em;
  font-weight: lighter;
  color: black;
  margin: 2em 2em 4em 1em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
  gap: 10px;
  row-gap: 40px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.gallery-item {
  position: relative;    
  overflow: hidden;     
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.gallery-item.full-width {
  grid-column: 1/-1;
  width: 100%;
  height: auto;
  display: block;
  height: 200px;
  overflow: hidden;
}

.gallery-item:hover img {
  filter: none;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  display: flex;
  justify-content: center;  
  align-items: center;       
}

.gallery-item:hover .overlay {
  transform: translateY(0);
  pointer-events: auto; 
  height: 100%;
  opacity: 80%;
}

.overlay .text {
  color: #fff;
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 18px;
  white-space: normal;
  text-align: center;
  padding: 0.5rem 1rem;
  white-space: normal;
  color: white;
  font-size: 2em;
  opacity: 0;             
  transition: opacity 0.6s ease; 
}

.gallery-item:hover .overlay .text {
  opacity: 1;
}